
@keyframes swingbackward {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}
@keyframes swing-in-top-bck{0%{transform:rotateX(70deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}


.accordion-container {
    width: 100%;
    min-width: 500px;
    margin: 5vh auto;
    border-radius: 5px;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    background-color: #fff;
    box-shadow: -2px 1px 2px 2px #212121;
}
.accordion-container div {
    border-bottom: 3px solid;
    border-color: #ff784f;
    transition: border-color 0.5s ease-in;
}

.mood-ring {
    background: linear-gradient(to right, #fffbd5, #b20a2c);
    /* W3C, IE 10+/  Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.answer, .summary {
    display: inline-block;
}

.answer {
    background: #3a3042;
    color: #fff;
}

.summary {
    font-family: "Josefin Slab", serif;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 25px;
    padding: 15px;
}
.summary:before {
    content: "> ";
}

.folding-panel {
    display: block;
    transition: all 0.2s ease-in;
    animation: swingbackward 1s ease 0s 1 normal forwards;

    line-height: 40px;
    border-top: 2px solid #3a3042;
}

.active .summary {
    border-color: transparent;
    transition: border-color 0.2s ease-out;
}

.inactive .folding-panel {
    transform-origin: 50% 0%;
    transform: perspective(250px) rotateX(-90deg);
    transition: all 0.4s ease-in-out;
    height: 0;
}

.active .folding-panel {
    transform: perspective(350px) rotateX(0deg);
    transition: all 0.5s ease-in-out;
    height: 50px;
    line-height: 50px;
    text-indent: 40px;
}

.swing-in-top-bck{animation:swing-in-top-bck .6s cubic-bezier(.175,.885,.32,1.275) both}